{%  if page.content %}
<div class="sat-container-1">
    <div class="sat-wrap-1">
        <div class="sat-rich-text-1 w-richtext">
            {{ page.content }}
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "sat-section-1",
  "settings": []
}
{% endschema %}
